h1 {
  color: turquoise;
  text-align: center;
  font-style: italic;
  font-weight: medium;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 28.9px;
  }
body {
  color: rgba(39, 25, 241, 0.897);
  background-color: deepskyblue;
  text-align: right;
  font-style: italic;
  font-weight: medium;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 28.9px;
  box-sizing: border-box;
  }
p {
  color: rgba(14, 150, 48, 0.842);
  box-sizing: border-box;
}

.flashy{
  color: darkred;
  text-align: center;
  font-style: bold;
  font-weight: medium;
  font-family: Times;
  font-size: 22px;
  line-height: 28.9px;
  
}
img {
  float: center;
  border-color: fuchsia;
  

}